<div class="header">
  <h3 class="text-muted">reply box</h3>
</div>


<quill-container class="quill-editor">
  <quill-toolbar config="{container: $element}">
    <!-- Font and Font Size -->
    <span class="ql-format-group">
      <select title="Font" class="ql-font">
        <option value="sans-serif" selected="">Sans Serif</option>
        <option value="serif">Serif</option>
        <option value="monospace">Monospace</option>
      </select>
      <select title="Size" class="ql-size">
        <option value="10px">Small</option>
        <option value="13px" selected="">Normal</option>
        <option value="18px">Large</option>
        <option value="32px">Huge</option>
      </select>
    </span>

    <!-- Bold/Italic, etc. -->
    <span class="ql-format-group">
      <span title="Bold" class="ql-format-button ql-bold"></span>
      <span class="ql-format-separator"></span>
      <span title="Italic" class="ql-format-button ql-italic"></span>
      <span class="ql-format-separator"></span>
      <span title="Underline" class="ql-format-button ql-underline"></span>
      <span class="ql-format-separator"></span>
      <span title="Strikethrough" class="ql-format-button ql-strike"></span>
    </span>

    <!-- Lists and alignment -->
    <span class="ql-format-group">
      <span title="List" class="ql-format-button ql-list"></span>
      <span class="ql-format-separator"></span>
      <span title="Bullet" class="ql-format-button ql-bullet"></span>
      <span class="ql-format-separator"></span>
    </span>
  </quill-toolbar>
  <quill-editor on-content-update="updateStuff(content)" >

  </quill-editor>
</quill-container>
